*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 70%;
    margin: auto;
    margin-top: 8%;
    padding: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: #afcfc2;

}

.left{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: 
    "text"
    "con"
    "icon";
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-right: 60px;
}

.text{
    grid-area: text;
    line-height: 55px;
    color: rgb(112, 107, 107);
}

.hello{
    margin-right: 20px;
}

.bear{
    vertical-align: middle;
    width: 75px;
    /* margin-right: 25px; */
}

.con{
    grid-area: con;
    font-size: 24px;
}

.con a{
    text-decoration: none;
    margin: 10px;
    color: rgb(84, 80, 80);
}

.con a:hover{
    color: white;
}

.con i{
    background-color: white;
    color: #afcfc2;
    border-radius: 50px;
    padding: 10px;
}

.icon{
    grid-area: icon;

}

.icon a{
    font-size: 32px;
    margin: 0 35px;
}

.icon i{
    color: rgb(112, 107, 107);
}

.icon i:hover{
    color: white;
}


@media (max-width: 768px) {
    .wrap{
        width: 100%;
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0;
    }

    .left{
        margin: 0;
        grid-template-rows: 2fr 1fr 1fr;
    }

    .con{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icon a{
        margin: 0 15px;
    }
}


