*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgba(6, 6, 6, 0.8);
}

.wrapper{
    max-width: 600px;
    margin: 20px auto;
    font-size: 20px;
    background-color: white;
}

header{
    border: 2px solid gray;
    border-bottom: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 20px 20px;
}

.fa-arrow-left{
    padding-right: 10px;
    vertical-align: middle;
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 40px;
}

.about .pic{
    border-radius: 50%;
    border: 8px double rgb(196, 191, 191);
}

.about .count{
    display: flex;
    text-align: center;
}

.about .count p{
    font-weight: bold;
    padding: 10px 0 10px 35px;
}

.info{
    font-style: italic;
    line-height: 30px;
    padding: 25px 40px 25px ;
}

a{
    color: rgb(97, 149, 215);
    margin-left: 3px;
    text-decoration: none;
}

.fa-snowflake, .fa-fish{
    color: rgb(97, 149, 215);
    margin-right: 20px;
}

.fa-meat{
    font-weight: 900;
}

.follow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    text-align: center;
}

.following, .message{
    padding: 5px 60px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(21, 99, 201, 0.6);
    background-color: rgb(97, 149, 215, 0.5);
    cursor: pointer;
}

.caret-down{
    padding-left: 8px;
}

.add{
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(104, 104, 104, 0.4);
    cursor: pointer;
    background-color: rgb(97, 149, 215, 0.3);
}

.cells_play{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.fa-table-cells, .fa-play, .fa-user-tag{
    cursor: pointer;
}

hr{
    margin: 10px auto 0;
    max-width: 90%;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;

    border: 2px solid gray;
    border-top: none;
}

.post{
    margin:0 5px 5px 5px;
    max-width: 30%;
}

.post img{
    width: 100%;
    box-shadow: 0px 1px 5px rgba(104, 104, 104, 0.4);
}

@media (max-width: 1200px) {
    .wrapper{
        margin: auto;
    }
}

@media (max-width: 600px) {
    .wrapper{
        font-size: 15px;
    }
    .pic{
        width: 25%;
    }
    .about .count p{
        padding: 10px 5px;
    }
    .info{
        padding: 15px 40px 15px ;
    }
    .following, .message{
        padding: 3px 30px;
    }
}

@media (max-width: 382px) {
    .wrapper{
        font-size: 12px;
    }
    .pic{
        width: 25%;
    }
    .following, .message{
        padding: 3px 10px;
    }
    .post{
        width: 25%;
    }
}